# Statements and Loops in Python

In [ ]:
## If, Elif and Else Statement

In [1]:
if True:
    print('ITS TRUE!')

ITS TRUE!

In [2]:
if 3>2:
    print('ITS TRUE!')

ITS TRUE!

In [3]:
hungry = True

if hungry:
    print('Feed Me!')

Feed Me!

In [4]:
hungry = True

if hungry:
    print('Feed Me!')
else:
    print("I'm Not Hungry")

Feed Me!

In [7]:
loc = 'Store'

if loc == 'Auto Shop':
    print("Cars are cool")
elif loc == "Bank":
    print("Money is cool")
elif loc == 'Store':
    print("Welcome to the store")
    
else:
    print("I Dont know much")

Welcome to the store

In [ ]:
## For Loops

In [8]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [9]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [11]:
for num in mylist:
    print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [20]:
for num in mylist:
    if num%2 == 0:
        print (f'{num} is even number')
    else:
        print(f'{num} is odd number')

1 is odd number
2 is even number
3 is odd number
4 is even number
5 is odd number
6 is even number
7 is odd number
8 is even number
9 is odd number
10 is even number

In [21]:
list_sum = 0

for num in mylist:
    list_sum += num
    
print(list_sum)

55

In [22]:
# Due to change of Indentation in last line of code 
# Print statement is running for every for loop

list_sum = 0

for num in mylist:
    list_sum += num
    
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [23]:
for letter in 'Hello World':
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [25]:
for _ in 'Hello World':
    print('cool!')

cool!
cool!
cool!
cool!
cool!
cool!
cool!
cool!
cool!
cool!
cool!

In [26]:
tup = (1,2,3)

for item in tup:
    print (item)

1
2
3

In [27]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [29]:
len(mylist)

4

In [30]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [32]:
# Tuple Unpacking

for (a,b) in mylist:
    print (a)
    print (b)

1
2
3
4
5
6
7
8

In [33]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]

In [35]:
for a,b,c in mylist:
    print (b)

2
6
9

In [39]:
dict = {'k1':1,'k2':2,'k3':3}

for key,values in dict.items():
    print (key)

k1
k2
k3

In [41]:
for values in dict.values():
    print (values)

1
2
3

In [42]:
for items in dict:
    print(items)

k1
k2
k3

In [43]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x += 1

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4

In [1]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x = x + 1

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4

In [2]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x = x + 1
    
else:
    print("x is not less than 5")

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
x is not less than 5

In [ ]:
## break, continue and pass

In [4]:
x = [1,2,3]

for item in x:
    pass

print('end of my script')

end of my script

In [6]:
mystring = 'Sammy'

In [7]:
for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [8]:
for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

In [ ]:
## Range

In [9]:
mylist = [1,2,3]

In [10]:
for num in range(10):
    print (num)

0
1
2
3
4
5
6
7
8
9

In [11]:
for num in range(3,10):
    print (num)

3
4
5
6
7
8
9

In [12]:
for num in range(0,11,2):
    print (num)

0
2
4
6
8
10

In [13]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [ ]:
## enumerate : See cell 18 for Enumerate example

In [16]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [17]:
index_count = 0
word = 'abcde'

for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [19]:

word = 'abcde'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print ('\n')

0
a


1
b


2
c


3
d


4
e

In [ ]:
## Zip Function

In [20]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']

In [21]:
zip(mylist1,mylist2)

In [22]:
for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [23]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [ ]:
## in operator

In [24]:
'a' in 'a world'

True

In [25]:
'mykey' in {'mykey':340}

True

In [27]:
d= {'mykey': 345}
345 in d.keys()

False

In [ ]:
## Min and Max function

In [31]:
mylist=[1,2,3,4]
print(min(mylist))
print(max(mylist))

1
4

In [ ]:
## Shuffle function

In [32]:
from random import shuffle

In [33]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [34]:
random_list = shuffle(mylist)

In [36]:
type(random_list)

NoneType

In [37]:
mylist

[5, 6, 4, 3, 1, 7, 9, 8, 10, 2]

In [ ]:
## randint

In [39]:
from random import randint

In [40]:
randint(0,100)

64

In [41]:
mynum = randint(0,10)

In [42]:
mynum

2

In [ ]:
## Input function

In [45]:
result = input('What is your name?')

What is your name?saurabh

In [46]:
result

'saurabh'

In [47]:
type(result)

str

In [ ]:
## List Comprehensions

In [48]:
mystring = 'hello'

In [49]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [50]:
mylist

['h', 'e', 'l', 'l', 'o']

In [51]:
mylist = [letter for letter in mystring]

In [52]:
mylist

['h', 'e', 'l', 'l', 'o']

In [53]:
mylist = [x for x in 'word']

In [54]:
mylist

['w', 'o', 'r', 'd']

In [55]:
mylist = [x for x in range(1,11)]

In [56]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [57]:
mylist = [x**2 for x in range(1,11)]

In [58]:
mylist

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [59]:
mylist = [x for x in range(0,11) if x%2 == 0]

In [60]:
mylist

[0, 2, 4, 6, 8, 10]

In [61]:
mylist = [x**2 for x in range(0,11) if x%2 == 0]

In [62]:
mylist

[0, 4, 16, 36, 64, 100]

In [63]:
celcius = [0,10,20,34.5]

fahrenheit = [((9/5)*temp+32) for temp in celcius]

In [64]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [65]:
fahrenheit = []

for temp in celcius:
    fahrenheit.append(((9/5)*temp+32))

In [66]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [67]:
mylist = []

for x in [1,2,3]:
    for y in [1,10,1000]:
        mylist.append(x*y)

In [68]:
mylist

[1, 10, 1000, 2, 20, 2000, 3, 30, 3000]